@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Geist:wght@700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stack+Sans+Notch:wght@200..700&family=Story+Script&family=Tektur:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  /* Backgrounds */
  --color-bg-main: #0c0d0d;
  --color-bg-section: #151717;
  --color-bg-card: #212d2f;
  --color-bg-card2: #D1D1D1;

  /* Primary Accent (Teal) */
  --color-primary: #22b0b8;
  --color-primary-bright: #06a7b0;
  --color-primary-dark: #0c6a72;

  /* Neutrals */
  --color-text-primary: #d5d7d7;
  --color-text-muted: #606266;
  --color-border: #212d2f;
}


.back{
  height: 100vh;
  background: radial-gradient(
  circle at center,
  rgba(0, 255, 255, 0.18) 0%,
  rgba(0, 255, 255, 0.12) 25%,
  rgba(0, 255, 255, 0.06) 45%,
  rgba(0, 0, 0, 0) 70%
);
}